---
import Layout from "../layouts/Layout.astro";
import SimulateurVoyage from "../components/SimulateurVoyage.astro";
import CarteXP from "../components/carteXP.astro";
---

<Layout title="Simulateur de Voyage">
  <h1 class="text-3xl font-bold text-center mb-8">
      Simulateur de Voyage
  </h1>
  <SimulateurVoyage />
  <CarteXP />
</Layout>